<html>
<head>
	<title>List of Birds</title>
	<style type="text/css" src="style.css"></style>
</head>
<body>
<!-- Add jquery, underscore, and backbone -->
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.4.4/underscore-min.js"></script>
<script src="http://ajax.cdnjs.com/ajax/libs/backbone.js/0.3.3/backbone-min.js"></script>
<!--add local js file -->
<script src="geo.js"></script>


</body>