/* - - - - - - - ChirpAsana Section specific styling - - - - - - - - - - -*/

/*
________________________
Color Style Guide
#EFF1FO - light grey
#BEC2C1 - mint green
#E78226 - burnt orange
#BD4A2D - brick red
#BB8058 - clay
________________________
Font Guide
Headers Font - font-family: 'Raleway', sans-serif;
Paragraph Font - font-family: 'Sorts Mill Goudy', serif;
*/


/*- - - - - - - - - - foundation.css overrides - - - - - - 

Line 17   override body font (removed)
Line 1065 override font and font weight - 'Raleway', sans-serif;
Line 1307 override button margin. 
Line 1476 box shadow override
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - -  */



p {
  color: black;
}

.brand-bar h2{
  color: purple;
  text-align: center;
}

.all-search-results {
  background-image: url("winged.jpg");
  /*http://www.wallcg.com/pin-hd-birds-photo-10-1366x768-download-on-124799/*/
  background-size:100%;
  max-height: 600px;
  background-repeat: no-repeat;
  overflow: scroll;
}


.latitude, .longitude {
  background: rgba(255, 255, 255, 0.5);
  text-align: center;
  margin-top: -5px;
  height: 80px;
}


.latitude h4 {
  color: gray;
}

.longitude h4{
  color: gray;
}


.locate-me {
  text-align: center;
}

#bird-description {

  background: rgba(255, 255, 255, 0.8);
  padding-left: 1em;
  margin-bottom: 5px;
  border-radius: 5px;
}


.common-name {
  margin-left: -15px;
  background: rgba(0, 0, 0, 0.55);
}

.scientific-name{
  background: rgba(0, 0, 0, 0.5);
}

.scientific-name p {
  color: white;
}

.common-name p {
  color: white;
}



/*cropping notes from http://stackoverflow.com/questions/493296/css-display-an-image-resized-and-cropped*/
.search-image{
    float: left;
    overflow: hidden; /* this is important */
    position: relative; /* this is important too */
    border: 1px solid #ccc;
    width: 249px;
    height: 161px;
    border-radius: 5px;
}


.search-image img {
    position: absolute;
}






/* - - - - - - - ChirpAsana Section specific styling END - - - - - - - - - -*/
