/* - - - - - - - ChirpAsana Section specific styling - - - - - - - - - - -*/


body{
  background-color: black;
}



h2, h4, p{
  font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
  font-style: normal;
  color: white;
  text-rendering: optimizeLegibility;
  margin-top: 0.2em;
  margin-bottom: 0.5em;
  line-height: 1em; 
}



.footer {
  height: 150px;
  background-color: purple;
}


.lat-long-container {
  background-color: gray;
  height:50px;
/*  position: absolute;*/
}


.locate-me-now {
  height: 50px;
  background-color: purple;
}




/*.bird-description {
  background-color: black;
  color:white;
}
*/




/* - - - - - - - ChirpAsana Section specific styling END - - - - - - - - - -*/
